<div id="history">
	<h5>The Computer Fraud and Abuse Act (CFAA) is an outdated law that determines most of what is legal and illegal on the Internet. It’s written so vaguely that it turns everyday Internet use into criminal activity that could lead to felony prosecution.</h5>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>The cfaa was created in response to a hollywood movie</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>If the CFAA seems absurd, it should - when the CFAA was being debated by Congress, the film WarGames starring Matthew Broderick (of Ferris Bueller fame) was screened to give context about the dangers of too loose Internet policy. The film is about a teenager who uses his regular phone line to try and steal a few video games - and inadvertently almost launches global thermonuclear war. You hear it now and it sounds absurd - but those were the fears in the 1980s and those fears are what created today’s Internet policy.</p>
			<p>Check out the trailer that wrote our Internet policy <a href="https://www.youtube.com/watch?v=tAcEzhQ7oqA" target="_blank" class='yellow'>here</a>.</p>
		</div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>WHAT DOES IT MEAN TO ACCESS A COMPUTER “WITHOUT AUTHORIZATION?”</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>At its core the CFAA has a provision that makes it a federal crime to access a computer “without authorization” or in a way that “exceeds authorization.” Those terms, however, are entirely undefined - which means that prosecutors are given full discretion to determine what “authorization means” - which has included violating a web site’s terms-of-service agreement (you know, that thing you read and click “I agree” to, but never read).</p>
		</div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>CFAA MAKES LYING ON SOCIAL MEDIA ACCOUNTS A CRIME</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>Prosecutors’ interpretation of the CFAA means everything from lying about your age on Facebook, your looks on Craigslist, or letting your friend log in to your Pandora account could land you with felony charges - and those are just a few examples. We all routinely submit to those agreements, but few have the ability to read and completely understand those non-negotiable contracts.</p>
		</div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>CFAA LEADS TO PROSECUTORIAL ABUSE</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>The problems with the law go further, too - because the CFAA enables a person to be punished multiple times for the same crime. These charges can be stacked one on top of another, resulting in higher cumulative fines and jail time for the exact same violation.</p>
		</div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>YOU COULD BE THE NEXT CFAA VICTIM</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>That’s why activity like making a fake Facebook account for your cat or sharing an HBO Go password can leave you facing felony charges - or why downloading academic journal articles can leave you facing 50 years in prison.</p>
		</div>
	</div>
</div>
