<div id="solution">
	<div class="h5">
		<p>“Aaron’s Law” is named for the late Internet entrepreneur and activist Aaron Swartz who died in January of 2013. He helped write the RSS 1.0 syndication that revolutionized the way we get information online by the time he was 14, co-founded Reddit before 20, and by 25 was facing 50 years in prison for allegedly downloading academic journal articles on MIT’s campus while a fellow at Harvard.</p>
		<p>Aaron never did anything with the articles, and JSTOR, the organization he downloaded the articles from, didn’t want charges pressed. The Massachusetts government was planning on giving him a slap on the wrist - but because of the poorly written federal statute known as the Computer Fraud and Abuse Act, he wound up facing 50 years in prison for “exceeding authorized access” at MIT. Aaron’s prosecution was roundly criticized by journalists and activists alike, and as a result of the felony criminal charges levied against him, Swartz committed suicide last January.</p>
	</div>
	<h4 class="alt">Aaron’s Law would provide 3 critical fixes to the Computer Fraud and Abuse Act:</h4>
	<div class="row item unbored">
		<div class="col-md-3 col-sm-3">
			<h4>1. LEGALIZE ORDINARY Internet USE</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>Fix the vague language that currently criminalizes routine Internet activity while maintaining the government’s ability to prosecute legitimate Internet crimes. This means violating the terms of service on a website by doing something like having a fake middle name on Facebook would no longer be illegal.</p>
		</div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>2. RESTORE PROPORTIONALITY IN OUR CRIMINAL JUSTICE SYSTEM</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>Scale back penalties for Internet crimes so they more accurately reflect the severity of a given infraction, especially in cases where there was no monetary loss by any party - as was the case with Aaron. Many commentators noted that Aaron Swartz and other CFAA victims faced harsher penalties than rapists, molesters, and other violent criminals</p>
		</div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<h4>3. END PROSECUTORIAL ABUSE OF THE CFAA</h4>
		</div>
		<div class="col-md-9 col-sm-9">
			<p>Eliminate the ability of prosecutors to “stack” penalties so a person may be given several sentences for the same infraction, because one crime should carry one proportionate penalty - not three disproportionate ones.</p>
		</div>
	</div>
</div>
