<div id="victims">
	<div class="row item unbored">
		<div class="col-md-3 col-sm-3">
			<img src="images/swartz.png" />
			<h4>CFAA VICTIM #1:<br/>Aaron Swartz</h4>
			<!-- <a href="https://www.eff.org/deeplinks/2013/07/weevs-case-flawed-beginning-end">Learn More</a> -->
		</div>
		<div class="col-md-9 col-sm-9">
			<h4>Aaron Swartz: Faced 50+ Years in Prison</h4>
			<p>In 2012, Aaron Swartz was arrested for allegedly downloading academic journal articles from MIT’s campus while he was a fellow at Harvard. The question was not whether Aaron had access to any of the articles – his fellowship at Harvard gave him that access. The question was whether or not Aaron was allowed to download that many of them while on MIT’s network. JSTOR, the journal archive Aaron allegedly downloaded the articles from, did not want to make a criminal case of it – but even so, Aaron was facing over 50 years in jail.</p>
 			<p>Rather than face the trial, Aaron tragically took his life in January 2013, and is remembered as a luminary in many fields. He helped write the RSS 1.0 syndication that revolutionized the way we get information online by the time he was 14, co-founded Reddit before 20, and had co-founded multiple advocacy organizations, including Demand Progress, by 25.</p>
		</div>
		<div class="credits">photo: <a href="http://www.flickr.com/people/ioerror/">Jacob Appelbaum</a></div>
	</div>
	<div class="row item weev">
		<div class="col-md-3 col-sm-3">
			<img src="images/weev.png" />
			<h4>CFAA VICTIM #2:<br/>Andrew<br/>Aurenheimer<br/>(AKA WEEV)</h4>
			<a href="https://www.eff.org/deeplinks/2013/07/weevs-case-flawed-beginning-end">Learn More</a>
		</div>
		<div class="col-md-9 col-sm-9">
			<h4>Andrew Aurenheimer: Convicted and serving 41 months in jail</h4>
			<p>In 2010, Weev's co-defendant Daniel Spitler discovered AT&T configured its website to automatically publish an iPad user's e-mail address when the server was queried with a URL containing the number that matched an iPad's SIM card ID. In other words, if anyone typed in the correct URL with a correct ID number, the e-mail address associated with that account would automatically appear in the login prompt. Spitler wrote a script that attempted to emulate the IDs by entering random numbers into the URL and, as a result, ultimately collected approximately 114,000 e-mail addresses. Auernheimer sent a list of the e-mail addresses to several journalists to prove the security problem, and Gawker published a story about the vulnerability.</p>
 			<p>Although Auernheimer's actions helped motivate AT&T to fix the hole, he was rewarded with a federal indictment instead of a bounty. Federal prosecutors in New Jersey claimed that Weev and Spitler accessed data—the e-mail addresses—without authorization under the CFAA despite the fact AT&T made the information publicly available over the Internet. He didn’t do anything with the data except expose the flaw through Gawker – and press is well known to be a major way to convince a corporation to fix a security hole.</p>
		</div>
		<div class="credits">photo: Weev via <a href="http://en.wikipedia.org/wiki/File:Weev-selfportrait-prophet.png">wikipedia</a></div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<img src="images/keys.png" />
			<h4>CFAA VICTIM #3:<br/>Matthew Keys</h4>
			<a href="https://www.eff.org/deeplinks/2013/03/3-months-or-35-years-understanding-cfaa-sentencing-part-1-why-maximums-matter">Learn More</a>
		</div>
		<div class="col-md-9 col-sm-9">
			<h4>Matthew Keys: Facing 25 years</h4>
			<p>According to the indictment, Keys turned over the username and password to the content management system (CMS) of the Tribune Company, his former employer, to a member of Anonymous in an IRC chatroom. The person logged into the CMS, and changed a news story appeared on the L.A. Times’ website for approximately 30 minutes (and a total of approximately 5 words were changed). The page was quickly taken down and access into the CMS was blocked.</p>
 			<p>Count one of Keys’ indictment charges him with conspiracy to cause damage to a protected computer. The damage was altering a news article, the equivalent of vandalism. Under the CFAA, this is a felony with a maximum punishment of five years in prison. Meanwhile, California state law criminalizes physical vandalism either a misdemeanor—which comes with a maximum of a one year sentence—or a felony. And the five year penalty is the smallest of Keys’ three indictments.</p>
		</div>
		<div class="credits">photo: <a href="http://www.linkedin.com/in/thematthewkeys">linkdin</a></div>
	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<img src="images/hammond.png" />
			<h4>CFAA VICTIM #4:<br/>Jeremy Hammond</h4>
			<a href="https://www.eff.org/deeplinks/2013/06/jeremy-hammond-case-demonstrates-draconian-nature-cfaa">Learn More</a>
		</div>
		<div class="col-md-9 col-sm-9">
			<h4>Jeremy Hammond: Facing 10 years after plea bargain</h4>
			<p>Hammond was arrested for allegedly hacking into private intelligence contractor Stratfor and obtaining internal emails and other sensitive information for a political, rather than financial, purpose. Hammond then leaked this data to the media, attempting to highlight Stratfor’s work as a “private intelligence firm” and expose surveillance on political protesters at the behest of both private companies and the government.</p>
 			<p>The indictment alleges credit card numbers were found in the leaked emails as well. He was ultimately indicted on six counts, including violating the CFAA and identity theft.</p>
 			<p>Hammond admitted his actions by pleading guilty to one count of violating the CFAA with a “non-cooperating plea agreement,” meaning the prosecutors have no sentencing agreement with Hammond. But even when actions violate the law, criminal punishment must fit the crime and the potential punishment here—10 years in prison—demonstrates the problems with the severity of the CFAA.</p>
		</div>
		<div class="credits">photo: <a href="http://JimNewberry.com">Jim Newberry</a>, <a href="http://FreeJeremy.net">FreeJeremy.net</a></div>

	</div>
	<div class="row item">
		<div class="col-md-3 col-sm-3">
			<img src="images/hotz.png" />
			<h4>CFAA VICTIM #5:<br/>Sony vs. Hotz</h4>
			<a href="https://www.eff.org/deeplinks/2011/04/sony-v-hotz-ends-whimper-i-mean-gag-order">Learn More</a>
		</div>
		<div class="col-md-9 col-sm-9">
			<h4>Sony vs. Hotz: Ended in gag order</h4>
			<p>Teen found a way to run another operating system on his Sony product – something Sony supported previously, but reversed positions on – and Sony sued him into a gag order.</p>
		</div>
		<div class="credits">photo: SHARE Conference on <a href="http://www.flickr.com/photos/58601257@N07/6978630572/in/photolist-bCFiJL-bR9rFR-bCeJCd-bCeJxQ-bR9rCB-bR9rwn-bCeJtY-bR9s8c-bR9rRX-bCeJjY-bR9roF-bCForq-bCaHoq-gdCsMj-8gDbJL-hPo7oT">Flickr</a></div>
	</div>
</div>
